* {
  margin: 0;
  padding: 0;
  font-family: '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

.module-item {
  margin: 8px 8px;
}
.module-item .item-title {
  height: 20px;
  line-height: 20px;
  font-weight: 600;
  padding-left: 5px;
  font-size: 14px;
  color: #353535;
  text-align: left;
  border-left: 3px solid #26a2ff;
}
.module-item .item-body {
  padding-top: 8px;
  padding-bottom: 8px;
}

.van-col {
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.check-iconfont {
  color: #26a2ff;
}

.van-radio .van-icon-checked {
  color: #26a2ff;
}

.van-popup--right {
  height: 100%;
  width: 100%;
}

.has-tab {
  padding-bottom: 40px;
}

.van-tab--active {
  color: #26a2ff;
}

.van-tabs__line {
  background-color: #26a2ff;
}

.lnk-list-page .lnk-list {
  font-size: 14px;
  padding: 6px 1% 6px 1.5%;
  border-bottom: 5px solid #fafafa;
  width: 97.5%;
  position: relative;
  height: auto;
  overflow: hidden;
}
.lnk-list-page .lnk-list .list-left-col {
  width: 94%;
  float: left;
}
.lnk-list-page .lnk-list .list-left-col .lnk-row {
  height: 27px;
  line-height: 27px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lnk-list-page .lnk-list .list-left-col .lnk-row .row-left-col-3 {
  width: 30%;
  float: left;
}
.lnk-list-page .lnk-list .list-left-col .lnk-row .row-left-col-5 {
  width: 50%;
  float: left;
}
.lnk-list-page .lnk-list .list-left-col .lnk-row .row-left-col-7 {
  width: 70%;
  float: left;
}
.lnk-list-page .lnk-list .list-left-col .lnk-row .row-right-col-3 {
  width: 30%;
  float: left;
  text-align: right;
}
.lnk-list-page .lnk-list .list-left-col .lnk-row .row-right-col-5 {
  width: 50%;
  float: left;
  text-align: right;
}
.lnk-list-page .lnk-list .list-left-col .lnk-row .row-right-col-7 {
  width: 70%;
  float: left;
  text-align: right;
}
.lnk-list-page .lnk-list .list-right-col {
  width: 6%;
  float: left;
  right: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.lnk-list-page .no-more {
  text-align: center;
  margin-top: 3px;
  color: #26a2ff;
  font-size: 12px;
  margin-bottom: 10px;
}

.address-list {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
}
.address-list .address-item {
  background: #fafafa;
  margin-top: 8px;
  padding: 5px;
}
.address-list .address-item .icon {
  color: #26a2ff;
  font-size: 18px;
}
.address-list .address-item .info-row {
  height: 26px;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.address-list .address-item .info-row .left-col-3 {
  width: 30%;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.address-list .address-item .info-row .left-col-5 {
  width: 50%;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.address-list .address-item .info-row .left-col-7 {
  width: 70%;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.address-list .address-item .info-row .right-col-3 {
  width: 30%;
  float: left;
  text-align: right;
}
.address-list .address-item .info-row .right-col-5 {
  width: 50%;
  float: left;
  text-align: right;
}
.address-list .address-item .info-row .right-col-7 {
  width: 70%;
  float: left;
  text-align: right;
}
.address-list .address-item .action-row {
  height: 25px;
  line-height: 20px;
  padding-top: 5px;
  color: #787878;
  border-top: 1px solid #f3f3f3;
}
.address-list .address-item .action-row .left-col-3 {
  width: 30%;
  float: left;
}
.address-list .address-item .action-row .left-col-5 {
  width: 50%;
  float: left;
}
.address-list .address-item .action-row .left-col-7 {
  width: 70%;
  float: left;
}
.address-list .address-item .action-row .right-col-3 {
  width: 30%;
  float: right;
}
.address-list .address-item .action-row .right-col-5 {
  width: 50%;
  float: right;
}
.address-list .address-item .action-row .right-col-7 {
  width: 70%;
  float: right;
}
.address-list .address-item .action-row .button {
  margin-left: 20px;
  float: right;
}
.address-list .address-item .action-row .label {
  margin-left: 5px;
}

.float-button {
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 40px;
  right: 40px;
  border-radius: 40px;
  background: #26a2ff;
  line-height: 50px;
  text-align: center;
}

.lnk-field {
  padding-left: 10px;
  height: 44px;
}
.lnk-field .van-radio {
  height: 30px;
  border-bottom: 1px solid #f3f3f3;
  padding-top: 10px;
  margin-left: 10px;
}
.lnk-field .lnk-row {
  display: -webkit-box;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 24px;
  position: relative;
  color: #333;
  font-size: 14px;
  overflow: hidden;
  border-bottom: 1px solid #f3f3f3;
}
.lnk-field .lnk-row .lnk-col-label {
  width: 100%;
  max-width: 90px;
  line-height: 24px;
  height: 24px;
}
.lnk-field .lnk-row .lnk-col-content {
  width: 100%;
  height: 24px;
  line-height: 24px;
}
.lnk-field .lnk-row .lnk-col-content .gray {
  color: initial;
}
.lnk-field .lnk-row .lnk-col-content .input {
  border: 0;
  padding: 0;
  display: block;
  width: 100%;
  resize: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.require-icon {
  max-width: 10px;
  float: left;
  line-height: 44px;
  color: red;
}

.van-cell {
  padding: 10px 10px;
}

.van-cell__left-icon {
  color: red;
}

.van-card__price {
  color: red;
}

.van-card__thumb {
  left: 5px;
}

/*# sourceMappingURL=style.css.map */
